<div class="container" id="" style="float: right">
    <div class="row">
        <div class="col-md-4 well">
            <div id="video11" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video12" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video13" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div >
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div >
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 well">
            <div id="video21" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video22" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video23" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 well">
            <div id="video31" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video32" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div class="span6">
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div class="span6">
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <div id="video33" >

            </div>
            <div class="caption">
                <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                    Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                <div class="row-fluid">
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-eye-open"></i> Preview</a>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-block btn-info" href="http://bootstrap-tutorial.bootstraptor.com"><i class="icon-info-sign"></i> More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    jwplayer('video11').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
    jwplayer('video12').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
    jwplayer('video13').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });

    jwplayer('video21').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });

    jwplayer('video22').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });

    jwplayer('video23').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
    jwplayer('video31').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
    jwplayer('video32').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
    jwplayer('video33').setup({
        file: 'videos/sample.mp4',
        height: 250,
        width: 350
    });
</script>